<launch>
    <!-- CONFIGURATION ARGS -->
    <arg name="camera" 	value="d435i_camera"/>
    <arg name="offline" value="false"/>

    <!-- CAMERA NODE -->
    <include unless="$(arg offline)" 
        file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <!--<arg name="linear_accel_cov" value="1.0"/>-->        
        <arg name="unite_imu_method" value="linear_interpolation"/>
        
        <arg name="enable_gyro" value="true"/> <!--mike-->
        <arg name="enable_accel" value="true"/> <!--mike-->                        
        <arg name="camera" value="$(arg camera)"/> <!--mike-->
        <!--<arg name="initial_reset" value="true"/>--> <!--mike-->
        <arg name="publish_tf" value="true"/>
        <arg name="tf_prefix" value="$(arg camera)"/> <!--mike-->
        <arg name="depth_fps"           default="30"/> <!--mike-->
        <arg name="color_fps"           default="30"/> <!--mike-->
        <arg name="gyro_fps"            default="-1"/> <!--mike-->
        <arg name="accel_fps"           default="-1"/> <!--mike-->
    </include>
</launch>    
